@CHARSET "UTF-8";

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", "DejaVu", sans-serif;
	text-rendering: optimizeLegibility;
	overflow: hidden;
}

/*LINKS*/
a {
	color: #009bf0;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #3366cc;
}

/* BUTTON STYLES */
button, input[type=text] {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-color: #eee;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	margin: 0px;
	padding: 3px 10px;
	border: none;
	color: #000;
	cursor: pointer;
}

button:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#fff));
	background-image: -moz-linear-gradient(top, #ddd, #fff);
	background-color: #fff;
}

button:active {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#eee));
	background-image: -moz-linear-gradient(top, #ccc, #eee);
	background-color: #ccc;
}

button.ok {
	-webkit-box-shadow: 0 0 20px rgba(0, 200, 255, 1);
	-moz-box-shadow: 0 0 20px rgba(0, 200, 255, 1);
	box-shadow: 0 0 20px rgba(0, 200, 255, 1);
}

button.cancel {
	color: #ddd;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666));
	background-image: -moz-linear-gradient(top, #999, #666);
	background-color: #666;
}

button.cancel:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#999));
	background-image: -moz-linear-gradient(top, #666, #999);
}

button.cancel:active {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#888));
	background-image: -moz-linear-gradient(top, #555, #888);
}

input[type=text] {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#fff));
	background-image: -moz-linear-gradient(top, #ddd, #fff);
	background-color: #fff;
}